:root {
  --element-space: 1.5rem;
}

.Hero {
    background-image: url('../photos/orig.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 99%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 20rem;
    margin: 0rem;
    
    
  }

.innerFoodieImage {
    width: 75px;
    height: 75px;
    display: block;
    /* position: relative;
    background-color: transparent;
    background-image: url('../photos/innerFoodie.jpg'); */
    
}

/* img {
    margin: 0px;
    width: 75px;
    padding-bottom: rem;
    margin-bottom: rem;
  } */

/* .innerFoodieImage::after {
    content: "";
    background-image: url('../photos/innerFoodie.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

  
.nav-bar {
    padding: 2rem 1rem;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E62020;
    /* margin: var(--element-spacing); */
}
/* .left > * {
  margin-right: var(--element-spacing);
}
.right {
  display: flex;
  align-items: center;
}

.right > * {
  margin-left: var(--element-spacing);
} */

    