.search-result {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: #E62020;
    justify-content: space-evenly;
}

.restaurant-image {
    width: 325px;
    height: 300px;
    border-radius: 4px;
    margin-right: 1rem;
}

.restaurant-info {
    min-width: 400px;
}

.restaurant-info p {
    margin-right: .5rem;
    padding: .5rem;

  }

.contact-info p {
    font-size: .85rem;
}

:global(.tag).restaurant-tag {
    margin: 5px;
    padding: 3px
}